/* Estilos generales de la pagina del formulario */
body {
    background-image: url('gasometro.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Estilos generales del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b35454;
    border-radius: 5px;
    background-color: #282be4;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para los campos de números */
div {
    display: flex;
    align-items: center;
}

span {
    margin-right: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: #a13131;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1e2fc7;
}

/* Estilos para los mensajes de error */
.error {
    color: red;
    font-size: 12px;
}
